<header class="mui-bar mui-bar-nav">
	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 id="title" class="mui-title">{{title}}</h1>
</header>

<div style="margin-top: 45px; width: 100%; display: block;">
	<!--车辆相册图begin-->
	<div id="infoimg" class="mui-slider" ng-class="{true:'tui-order-trade',false:''}[carinfodata.CarFlag==1]" ng-switch="carinfodata.AppraiserFlag">
		<div class="mui-slider-group mui-slider-loop" style="width:100%; max-height:250px;" id="data-info-thumb">
			<div class="mui-slider-item mui-slider-item-duplicate">
				<a href="javascript:;"><img style="min-height:250px;" data-img="{{carinfodata.HomePicID}}" src='{{carinfodata.HomePicID|bigimg}}'></a>
			</div>
			<div class="mui-slider-item" ng-repeat="cimg in carinfoimg">
				<a href="javascript:;"><img style="min-height:250px;" data-img="{{cimg.PicAddr|bigimg}}" ng-src="{{cimg.PicAddr|bigimg}}"></a>
			</div>
			<div class="mui-slider-item mui-slider-item-duplicate">
				<a href="javascript:;"><img style="min-height:250px;" data-img="{{carinfodata.HomePicID}}" src='{{carinfodata.HomePicID|bigimg}}'></a>
			</div>
		</div>
		<div class="mui-slider-indicator">
			<div class="mui-number"><span>1</span> / <span ng-bind="imgcount"></span></div>
		</div>
		<span class="tui-ctxrenzhen-big-3" ng-switch-when="3"></span>
		<span class="tui-ctxrenzhen-big-2" ng-switch-when="2"></span>
		<span class="tui-ctxrenzhen-big-1" ng-switch-when="1"></span>
	</div>
	<!--车辆相册图end-->
	<!--车辆标题及价格begin-->
	<ul class="mui-table-view dui-brand-w">
		<li class="mui-col-xs-12 mui-table-view-cell dui-no-active">
			<h2><span ng-bind="carinfodata.BrandName"></span> </h2>
			<p ng-bind="carinfodata.SpecName"></p>
			<p>
				<div style="border: 1px solid #fbe9e7; height: 30px; margin-top: 10px; line-height: 30px; overflow: hidden; display:inline-block; position: relative; font-weight: bold; text-align:left;font-size: 16px;">
					<div style="text-align:left; display: inline-block; position: relative; float: left; color: #262626;  padding: 0px 5px 0px 5px; background-color:#fbe9e7; height:30px;font-size: 14px;border-right: 1px solid #fbe9e7;">车源号:</div>
					<span style="padding: 0px 10px 0px 10px; color: #FE5621;" ng-bind="carinfodata.CarNo|FilterCarNo"></span>
				</div>
			</p>
		</li>
		<li class="mui-col-xs-12 mui-table-view-cell dui-no-active">
			<span class="dui-price dui-c1 fl" ng-bind="theprice"></span>
			<span class="dui-newprice fr">新车价：<span ng-bind="newsprice"></span></span>
		</li>
	</ul>
	<!--车辆标题及价格end-->
	<ul id="list" class="mui-table-view mui-table-view-chevron dui-mt10">
		<li class="mui-table-view-cell ">
			<span class="dui-strong car-info-caption">车辆详情</span>
		</li>
	</ul>
	<!--基本配置begin-->
	<ul class="mui-table-view mui-grid-view mui-grid-9 dui-carinfo-table border-top-none">
		<li class="mui-col-xs-3 mui-table-view-cell dui-no-active"><span>购买年限</span></li>
		<li class="mui-col-xs-3 mui-table-view-cell dui-no-active"><span ng-bind="(carinfodata.Buyyear|CDateFormat)||'未知'">未知</span></li>
		<li class="mui-col-xs-3 mui-table-view-cell dui-no-active"><span>里程数</span></li>
		<li class="mui-col-xs-3 mui-table-view-cell dui-no-active"><span ng-bind="carinfodata.Mileage||'未知'"></span>万公里</li>

		<li class="mui-col-xs-3 mui-table-view-cell dui-no-active"><span>排放量</span></li>
		<li class="mui-col-xs-3 mui-table-view-cell dui-no-active"><span ng-bind="(carinfodata.OutputVolumeDetail)||'未知'"></span></li>
		<li class="mui-col-xs-3 mui-table-view-cell dui-no-active"><span>变速箱</span></li>
		<li class="mui-col-xs-3 mui-table-view-cell dui-no-active"><span ng-bind="(carinfodata.GearBox | FilterCarGearBox)||'未知'"></span></li>

		<li class="mui-col-xs-3 mui-table-view-cell dui-no-active"><span>排放标准</span></li>
		<li class="mui-col-xs-3 mui-table-view-cell dui-no-active"><span ng-bind="(carinfodata.DischargeStandardDetail)||'未知'"></span></li>
		<li class="mui-col-xs-3 mui-table-view-cell dui-no-active"><span>颜色</span></li>
		<li class="mui-col-xs-3 mui-table-view-cell dui-no-active"><span ng-bind="(carinfodata.Color|ColorFilter)||'未知'"></span></li>

		<li class="mui-col-xs-3 mui-table-view-cell dui-no-active"><span>年检到期</span></li>
		<li class="mui-col-xs-3 mui-table-view-cell dui-no-active"><span ng-bind="(carinfodata.Annual_Inspect_Time | CDateFormat)||'未知'"></span></li>
		<li class="mui-col-xs-3 mui-table-view-cell dui-no-active"><span>交强险到期</span></li>
		<li class="mui-col-xs-3 mui-table-view-cell dui-no-active"><span ng-bind="(carinfodata.Compulsory_insurance_Time | CDateFormat)||'未知'"></span></li>

		<li class="mui-col-xs-3 mui-table-view-cell dui-no-active"><span>商业险到期</span></li>
		<li class="mui-col-xs-3 mui-table-view-cell dui-no-active"><span ng-bind="(carinfodata.Commercial_Insurance_Time | CDateFormat)||'未知'"></span></li>
		<li class="mui-col-xs-3 mui-table-view-cell dui-no-active"><span>过户次数</span></li>
		<li class="mui-col-xs-3 mui-table-view-cell dui-no-active"><span ng-bind="carinfodata.TransferNo||'0'"></span></li>

		<li class="mui-col-xs-3 mui-table-view-cell dui-no-active"><span>车辆类型</span></li>
		<li class="mui-col-xs-3 mui-table-view-cell dui-no-active"><span ng-bind="carinfodata.OwnerType|OwnerType"></span></li>
		<li class="mui-col-xs-3 mui-table-view-cell dui-no-active"><span>使用性质</span></li>
		<li class="mui-col-xs-3 mui-table-view-cell dui-no-active"><span ng-bind="carinfodata.UseType|UseType"></span></li>

		<li class="mui-col-xs-3 mui-table-view-cell dui-no-active"><span>归属地</span></li>
		<li class="mui-col-xs-9 mui-table-view-cell dui-no-active"><span ng-bind="carinfodata.RegisterPlace||'未知'"></span></li>

		<li class="mui-col-xs-3 mui-table-view-cell dui-no-active"><span>发布时间</span></li>
		<li class="mui-col-xs-9 mui-table-view-cell dui-no-active"><span ng-bind="(carinfodata.PublishTime|CDateFormat)||'未知'"></span></li>

	</ul>
	<!--基本配置end-->
	<!--服务资质begin-->
	<ul class="mui-table-view mui-table-view-chevron dui-mt10">
		<li class="mui-table-view-cell">
			<span class="dui-strong car-info-caption" ng-if="carinfodata.AppraiserFlag>0">本车已检测</span>
			<span class="dui-strong car-info-caption" ng-if="carinfodata.AppraiserFlag==0||carinfodata.AppraiserFlag==null">本车尚未检测</span>
		</li>
	</ul>
	<ul class="mui-table-view mui-grid-view mui-grid-9 mui-table-view-chevron dui-mt10 border-top-none">
		<li class="mui-col-xs-4 dui-rz-list">
			<p class="car-appariserflag" ng-style="AppraiserFlag_3"></p>
			<p class="mui-text-center">车同享承诺检测结果
				<br/>真实准确</p>
		</li>
		<li class="mui-col-xs-4 dui-rz-list">
			<p class="car-appariserflag" ng-style="AppraiserFlag_2"></p>
			<p class="mui-text-center">评估师承诺检测结果
				<br/>真实准确</p>
		</li>
		<li class="mui-col-xs-4 dui-rz-list">
			<p class="car-appariserflag" ng-style="AppraiserFlag_1"></p>
			<p class="mui-text-center">商家承诺检测结果
				<br/>真实准确</p>
		</li>
	</ul>
	<!--服务资质end-->
	<!--车主自述begin-->
	<ul id="list" class="mui-table-view dui-mt10">
		<li class="mui-table-view-cell">
			<a class="mui-navigate-right" href="javascript:;">
				<span class="fl dui-strong car-info-caption">车主自述</span>
				<span class="fr" style="padding-right: 25px;">
					<span ng-show="carinfodata.CarFlag!=1" ng-bind="carinfodata.UserName+carinfodata.Contact"></span>
				<span ng-bind="carinfodata.role"></span>
				</span>
			</a>
		</li>
	</ul>
	<ul class="mui-table-view mui-grid-view mui-grid-9 dui-carinfo-table border-top-none">
		<li class="mui-col-xs-12 mui-table-view-cell mui-text-left dui-no-active">
			<p class="dui-plr10" ng-bind="carinfodata.ReadMe||'暂时无车主自述信息'"></p>
		</li>

		<li class="mui-col-xs-12 mui-table-view-cell" ng-show="carinfodata.CarFlag!=1">
			<a href="#/creditfile?CarNo={{carinfodata.CarNo}}" style="display: inline;" ng-if="!carinfodata.AllianceCode">
				<span class="dui-c1 dui-strong">查看车主诚信详情&gt;</span>
			</a>

			<a href="#/shop?AllianceCode={{carinfodata.AllianceCode}}" style="display: inline;" ng-if="carinfodata.AllianceCode">
				<span class="dui-c1 dui-strong">查看商家店铺详情&gt;</span>
			</a>
		</li>
	</ul>
	<!--车主自述end-->
	<!--评估师检测begin-->
	<ul id="list" class="mui-table-view dui-mt10 border-top-none">
		<li class="mui-table-view-cell">
			<span class="fl dui-strong car-info-caption">评估师检测</span>
			<span class="fr" ng-if="carinfodata.ReportCount">
				<span ng-bind="treportdata.UserName">资深评估师</span>
			</span>
		</li>
	</ul>
	<ul id="list" class="mui-table-view" ng-if="carinfodata.AppraiserFlag==0">
		<li class="mui-table-view-cell" style="height: 200px;text-align: center; padding-top: 50px; overflow: hidden;">
			<span class="iconfont icon-iconfontjianxiu" style="font-size: 30px"></span>
			<p>该车尚未检测</p>
		</li>
	</ul>
	<ul class="mui-table-view mui-grid-view mui-grid-9 dui-carinfo-table" ng-if="carinfodata.AppraiserFlag>0">
		<li class="mui-col-xs-12 mui-table-view-cell mui-text-left">
			<p class="dui-plr10" ng-bind="treportdata.TestDescription||'暂无检测描述'"></p>
		</li>
		<li class="mui-col-xs-12" ui-sref="viewreport({CarNo:carinfodata.TestReportCode,Scroll:1})">

			<ul class="dui-table dui-grep">
				<li class="mui-col-xs-4 dui-table-bottom">事故排查</li>
				<li class="mui-col-xs-4 dui-table-bottom">（<span class="dui-green">33项</span>）</li>
				<li class="mui-col-xs-3 dui-table-bottom">
					<span class="dui-zhengchang" ng-if="report_tj.zdpzwt == 0">全部正常</span>
					<span class="dui-red" ng-if="report_tj.zdpzwt != 0">{{report_tj.zdpzwt}}项异常</span>
				</li>
				<li class="mui-col-xs-1 dui-table-bottom dui-nav-right">&nbsp;</li>
			</ul>

		</li>
		<li class="mui-col-xs-12">

			<ul class="dui-table dui-grep" ui-sref="report({ReportCode:carinfodata.TestReportCode,Scroll:2})">
				<li class="mui-col-xs-4 dui-table-bottom">车辆安全</li>
				<li class="mui-col-xs-4 dui-table-bottom">（<span class="dui-green">8项</span>）</li>
				<li class="mui-col-xs-3 dui-table-bottom">
					<span class="dui-zhengchang" ng-if="report_tj.aqwt == 0">全部正常</span>
					<span class="dui-red" ng-if="report_tj.aqwt != 0">{{report_tj.aqwt}}项异常</span>
				</li>
				<li class="mui-col-xs-1 dui-table-bottom dui-nav-right">&nbsp;</li>
			</ul>

		</li>
		<li class="mui-col-xs-12" ui-sref="report({ReportCode:carinfodata.TestReportCode,Scroll:3})">
			<ul class="dui-table dui-grep">
				<li class="mui-col-xs-4 dui-table-bottom">外观内饰</li>
				<li class="mui-col-xs-4 dui-table-bottom">（<span class="dui-green">114项</span>）</li>
				<li class="mui-col-xs-3 dui-table-bottom">
					<span class="dui-zhengchang" ng-if="report_tj.wgnswt == 0">全部正常</span>
					<span class="dui-red" ng-if="report_tj.wgnswt != 0">{{report_tj.wgnswt}}项异常</span>
				</li>
				<li class="mui-col-xs-1 dui-table-bottom dui-nav-right">&nbsp;</li>
			</ul>
		</li>
		<li class="mui-col-xs-12" ui-sref="report({ReportCode:carinfodata.TestReportCode,Scroll:4})">
			<ul class="dui-table dui-grep">
				<li class="mui-col-xs-4 dui-table-bottom">设备检测</li>
				<li class="mui-col-xs-4 dui-table-bottom">（<span class="dui-green">32项</span>）</li>
				<li class="mui-col-xs-3 dui-table-bottom">
					<span class="dui-zhengchang" ng-if="report_tj.sbwt == 0">全部正常</span>
					<span class="dui-red" ng-if="report_tj.sbwt != 0">{{report_tj.sbwt}}项异常</span>
				</li>
				<li class="mui-col-xs-1 dui-table-bottom dui-nav-right">&nbsp;</li>
			</ul>
		</li>
		<li class="mui-col-xs-12 mui-table-view-cell"><a ui-sref="report({ReportCode:carinfodata.TestReportCode})" style="display: inline;"><span class="dui-c1 dui-strong">查看详情检测报告&gt;</span></a></li>
	</ul>
	<!--评估师检测end-->

	<!--车辆图片begin-->
	<ul id="list" class="mui-table-view mui-table-view-chevron dui-mt10">
		<li class="mui-table-view-cell">
			<span class="dui-strong car-info-caption">车辆图片</span>
		</li>
	</ul>
	<ul class="mui-table-view mui-grid-view mui-grid-9 dui-carinfo-table border-top-none">
		<li class="mui-col-xs-12 dui-car-imglist">
			<div class="mui-col-xs-12 dui-img-inherit" ng-repeat="cil in carimglist">
				<img ng-src="{{cil.PicAddr|bigimg}}">
			</div>
		</li>
	</ul>
	<!--车辆图片end-->

	<!--交易流程begin-->
	<ul id="list" class="mui-table-view mui-table-view-chevron dui-mt10">
		<li class="mui-table-view-cell">
			<span class="dui-strong car-info-caption">交易流程</span>
		</li>
	</ul>
	<ul class="mui-table-view mui-grid-view mui-grid-9 dui-carinfo-table border-top-none">
		<li class="mui-col-xs-12 dui-car-imglist">
			<div class="mui-col-xs-12" style="padding: 10px 0px 10px 0px;">
				<div class="dui-flow-wrap">
					<p><i class="dui-num-icon">1</i><strong>买家下单并支付预付款</strong></p>
				</div>
				<div class="dui-num-jiantou"><i class="mui-icon mui-icon-arrowthindown"></i></div>
				<div class="dui-flow-wrap">
					<p><i class="dui-num-icon">2</i><strong>车同享验车、物流确认</strong></p>
				</div>
				<div class="dui-num-jiantou"><i class="mui-icon mui-icon-arrowthindown"></i></div>
				<div class="dui-flow-wrap">
					<p><i class="dui-num-icon">3</i><strong>买家支付购车余款</strong></p>
				</div>
				<div class="dui-num-jiantou"><i class="mui-icon mui-icon-arrowthindown"></i></div>
				<div class="dui-flow-wrap">
					<p><i class="dui-num-icon">4</i><strong>发车及物流跟踪</strong></p>
				</div>
				<div class="dui-num-jiantou"><i class="mui-icon mui-icon-arrowthindown"></i></div>
				<div class="dui-flow-wrap">
					<p><i class="dui-num-icon">5</i><strong>车同享提车、验车</strong></p>
				</div>
				<div class="dui-num-jiantou"><i class="mui-icon mui-icon-arrowthindown"></i></div>
				<div class="dui-flow-wrap">
					<p><i class="dui-num-icon">6</i><strong>买家提车，交易完成</strong></p>
				</div>
			</div>
		</li>
	</ul>
	<!--交易流程end-->
</div>