/*
个人中心
*/
.tui-admin-banner {
    background: url("../images/adminbanner.png") no-repeat;
    background-size: cover;
    text-align: center;
    padding: 15px;
}
.tui-admin-banner i {
    color: #c4c4c4;
    font-size: 32px;
    border-radius: 50%;
    background: #FFFFFF;
}
.tui-admin-banner p {
    margin: 0;
}
.tui-admin-header {
    display: inline-block;
    background-size: cover;
    border-radius: 50%;
}
.tui-resume-header {
    display: inline-block;
    background-size: cover;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    float: right;
    border: 1px solid #DEDEDE;
    margin-top: -5px;
    margin-right: 20px;
}
@media screen and (max-device-width:640px) {
    .tui-admin-header {
        width: 61px;
        height: 61px;
        border: 1px solid #DEDEDE;
    }
}
@media screen and (min-device-width:640px) {
    .tui-admin-header {
        width: 121px;
        height: 121px;
    }
}
.tui-admin-header-uploader {
    position: absolute;
    width: 100%;
    height: 30px;
    opacity: 0;
    z-index: 3;
    top: 0;
    left: 0;
}
.tui-admin-icon {
    background-image: url("../images/admin-icon.png");
    display: inline-block;
    float: left;
    margin-right: 10px;
}
.tui-admin-pinggushi {
    background-position: -0px -90px;
    width: 25px;
    height: 25px;
}
.tui-admin-danweixinxi {
    background-position: -360px -45px;
    width: 25px;
    height: 25px;
}
.tui-admin-gerenziliao {
    background-position: -315px -45px;
    width: 25px;
    height: 25px;
}
.tui-admin-jiaoyijilu {
    background-position: -270px -45px;
    width: 25px;
    height: 25px;
}
.tui-admin-yinhangka {
    background-position: -225px -45px;
    width: 25px;
    height: 25px;
}
.tui-admin-chongzhi {
    background-position: -180px -45px;
    width: 25px;
    height: 25px;
}
.tui-admin-tixian {
    background-position: -120px -45px;
    width: 25px;
    height: 25px;
}
.tui-admin-tonghangzhaoche {
    background-position: -0px -45px;
    width: 25px;
    height: 25px;
}
.tui-admin-jiaoyimima {
    background-position: -60px -45px;
    width: 25px;
    height: 25px;
}
.tui-admin-mimashezhi {
    background-position: -360px -0px;
    width: 25px;
    height: 25px;
}
.tui-admin-zhanghaozhongxin {
    background-position: -315px -0px;
    width: 25px;
    height: 25px;
}
.tui-admin-wodexiaoxi {
    background-position: -270px -0px;
    width: 25px;
    height: 25px;
}
.tui-admin-youhuiquan {
    background-position: -225px -0px;
    width: 25px;
    height: 25px;
}
.tui-admin-wodecheyuan {
    background-position: -180px -0px;
    width: 25px;
    height: 25px;
}
.tui-admin-pinggudingdan {
    background-position: -120px -0px;
    width: 25px;
    height: 25px;
}
.tui-admin-sell {
    background-position: -60px -0px;
    width: 25px;
    height: 25px;
}
.tui-admin-buy {
    background-position: -0px -0px;
    width: 25px;
    height: 25px;
}
.tui-login,
.tui-login2,
.tui-oalogin {
    position: absolute;
    z-index: 100;
    display: none;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.tui-login.active,
.tui-login2.active,
.tui-oalogin.active {
    position: absolute;
    z-index: 100;
    display: block;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.tui-login-container {
    padding-top: 10px;
    margin: 0 10px;
    background: #FFFFFF;
}
.tui-login-container h4 {
    line-height: 38px;
    border-bottom: 1px solid #dedede;
    text-align: center;
}
.tui-login .mui-input-row .tui-btn-getcode {
    width: 80px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    left: inherit;
    line-height: 30px;
    font-size: 12px;
}
.tui-login .mui-input-row label {
    width: 30%;
}
.tui-login .mui-input-row input {
    width: 70%;
}
.tui-slider-indicator {
    bottom: 8px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #dedede;
    color: #4c4c4c;
    background: #FFFFFF;
}
.tui-slider-indicator.tui-segmented-control {
    position: relative;
    bottom: auto;
}
.tui-slider-indicator .tui-indicator {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 1px 6px;
    cursor: pointer;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 0 1px 1px rgba(130, 130, 130, .7);
    box-shadow: 0 0 1px 1px rgba(130, 130, 130, .7);
}
.tui-segmented-control .tui-control-item {
    line-height: 38px;
    display: table-cell;
    overflow: hidden;
    width: 1%;
    -webkit-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #4c4c4c;
    border-color: #dedede;
    border-left: 1px solid #dedede;
}
.tui-segmented-control .tui-control-item:first-child {
    border-left-width: 0;
}
.tui-segmented-control .tui-control-item.active {
    color: #ff6a00;
    background-color: #fff;
    border-bottom: 2px solid #ff6a00;
}
.tui-admin-offbtn {
    padding: 10px;
}
.tui-admin-offbtn .mui-btn-block {
    padding: 10px 0;
}